.folderHeader {
  margin: 0 auto;
  margin-top: 12rem;
  margin-bottom: 8rem;
  width: fit-content;
  height: fit-content;
  font-size: 5vw;
  font-family: 'Jost-Medium';
}

.folder {
  position: relative;
  width: min-content;

  margin: 0 auto;
}

.sliceWrap {
  width: 18vw;
  height: 2.8vw;
  margin: 0;

  text-align: center;
  border-top: 2px solid var(--font-color);
  border-left: 2px solid var(--font-color);
  border-right: 2px solid var(--font-color);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  transition: ease-in-out 0.3s;
  background-color: var(--background);
}

.sliceWrap:hover {
  cursor: pointer;
}

.sliceWrap span {
  font-size: 2vw;
  font-family: 'Jost-Medium';
}

.contentsWrap {
  margin: 0 auto;
  margin-top: 3vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: 'e t a c';
}

#slice1 {
  grid-area: e;
}
#slice2 {
  grid-area: t;
}
#slice3 {
  grid-area: a;
}
#slice4 {
  grid-area: c;
}

.folderBody {
  background-color: inherit;

  margin-top: 0;
  height: fit-content;
  border: 2px solid var(--font-color);
  min-height: 50vh;
  border-top-right-radius: 0vw;
  border-bottom-right-radius: 1vw;
  display: block;
  position: relative;
}

@media only screen and (max-width: 1000px) {
  .sliceWrap span {
    font-size: 5.8vw;
  }

  .sliceWrap {
    width: 24vw;
    height: 8vw;
  }
  .folderHeader {
    margin-top: 7vw;
    margin-bottom: 7vw;
    font-size: 7vw;
  }
}
