.introHeader {
  text-align: center;
  margin-top: 15vh;
}

.welcomeP {
  margin-top: 0;
  padding-top: 0;

  font-size: 3rem;
}

.sayingP {
  color: var(--accent-color);
  font-weight: bold;
}

.sayingP p {
  font-size: 1.9rem;
  margin-bottom: 10px;
  font-family: 'RedHatMono-Regular';
}

.greenWord {
  text-shadow: 2px 1px 2px var(--font-color);
  color: var(--accent-color);
  font-weight: bold;
}

.borderBottom {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.imageWrap {
  width: 33%;
  height: 10px;
}

.buttonWrap {
  margin: 0 auto;
  margin-top: 1vw;
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin-bottom: 20vh;
}

.buttons {
  border-radius: 10000px;
  background-color: var(--accent-color);
  border: none;
  color: var(--background);
  width: min-content;
  padding: 0.5vw;
  font-size: 1.7vw;
  font-family: 'RedHatMono-Regular';
  transition: ease-in-out 0.3s;
}

.buttons:hover {
  cursor: pointer;
  box-shadow: 0 0 5px black;
}

@media only screen and (max-width: 1000px) {
  .welcomeP {
    margin: 0 auto;
    font-size: 1.33rem;
    width: 28ch;
  }

  .sayingP p {
    font-size: 0.78rem;
  }
  .introHeader {
    text-align: center;
    margin-top: 5vh;
  }

  .buttonWrap {
    margin: 0 auto;
    margin-top: 3vw;
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin-bottom: 5vh;
  }

  .buttons {
    padding: 2vw;
    font-size: 4.2vw;
    font-weight: bolder;
    font-family: 'RedHatMono-Regular';
  }
}
