.fadeWrap {
  animation: fadeIn 0.75s;
}

.galleryNodes {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.nodesWrap {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.galleryRatio {
  font-size: 5vw;
  margin: 0 auto;
  width: fit-content;
}

.buttons {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--accent-color);
  box-shadow: 0 0 5px black;
}

.buttons:hover {
  cursor: pointer;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
